;
; SEQ Builder Configuration
;

maxBufferSize 65536
maxVariables local 16
maxVariables global 0
maxVariables engines 10
headerFormat adamant
callFormat adamant
tlmSubscribe false

;
; Sequencer Command Definitions

; 0x0001 (1) - Seq_Noop:
userCmd seq_noop pattern 0000000100

; 0x0002 (2) - seq_command_args:
userCmd seq_command_args pattern 00000002080000000000000000
userCmd seq_command_args parameter arg1 32 40 U
userCmd seq_command_args parameter arg2 32 72 U

userCmd seq_cmd_arg pattern 000000030400000000
userCmd seq_cmd_arg parameter Value 32 40 I

; 0x0003 (1) - Seq_Test_Fail:
userCmd seq_test_fail pattern 0000000400

;
; Sequencer Telemetry Definitions for the Test_Assembly Assembly:
;

; 0x0001 (1) - seq_tlm_16:
userTlm seq_tlm_16 details 0x0001 16 0 U

; 0x0002 (2) - Component_A.Data_Product_2:
userTlm Component_A.Data_Product_2.Value details 0x0002 32 0 F

; 0x0003 (3) - Component_B.Data_Product_1:
userTlm Component_B.Data_Product_1.Value details 0x0003 16 0 U

; 0x0004 (4) - Component_B.Data_Product_2:
userTlm Component_B.Data_Product_2.Value details 0x0004 32 0 F

; 0x0005 (5) - Component_C.Data_Product_1:
userTlm Component_C.Data_Product_1.Value details 0x0005 16 0 U

; 0x0006 (6) - Component_C.Data_Product_2:
userTlm Component_C.Data_Product_2.Value details 0x0006 32 0 F

; 0x0007 (1) - seq_tlm_32:
userTlm seq_tlm_32 details 0x0007 32 0 U
